.container
{
	content: "";
	display: table;
	clear: both;
}
.s1
{
	float: left;
	width: 28.5%;
	height: auto;
	padding:20px;
	margin: 10px;
	text-align: justify;
	background-image: url(sum.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
.s2
{
	float: left;
	width: 28.5%;
	height: auto;
	padding:20px;
	margin: 10px;
	text-align: justify;
	background-image: url(mon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
.s3
{
	float: left;
	width: 28.5%;
	height: auto;
	padding:20px;
	margin: 10px;
	text-align: justify;
	background-image: url(win.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
h4
{
	text-align: center;
}
@media(min-width: 1261px) and (max-width: 1326px)
{
	.s1
	{
		width: 28.5%;
		height: auto;

	}
	.s2
	{
		width: 28.55%;
		height: auto;
	}
	.s3
	{
		width: 28.5%;
		height: auto;
	}
}
@media(min-width:1000px ) and (max-width: 1260px)
{
	.s1
	{
		width: 43.5%;
		height: auto;
		background-image: url(sum1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.s2
	{
		width: 43.5%;
		height: auto;
		background-image: url(mon1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.s3
	{
		width: 90%;
		height: auto;
		background-image: url(win1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
@media(min-width:0px ) and (max-width: 999px)
{
	.s1
	{
		width: 90%;
		height: auto;
		background-image: url(sum3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.s2
	{
		width: 90%;
		height: auto;
		background-image: url(mon2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.s3
	{
		width: 90%;
		height: auto;
		background-image: url(win2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}